body {
    background-image: url(pexels-photo-14676.png);
}

p {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    color: white;
}



 th, td {
     background-color: white;
}

th, td {
    color: black;
    border: 2px solid white;
    font-size: 20px;
}

p1 {
    color: white;
    font-size: 10px;
}
span {
    font-size: 20px;
}

span {
    background-color: white;
}
span {
    padding: 10px;
}
p2 {
    color: white;
    font-size: 40px;
}