body {
    background-color: lightblue;

}

p {
    font-family:cursive;
    color: black;
    text-decoration: ;
}

h1 {
    font-family:cursive;
    color: black;
    text-decoration: ;
}

h2 {
    font-family:cursive;
    color: black;
    text-decoration: ;
}


