body {
    background-image: url(pexels-photo-14676.png);
}

p {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    color: white;
}



 th, td {
     background-color: white;
}

th, td {
    color: black;
    border: 2px solid white;
    font-size: 20px;
}

p1 {
    color: white;
    font-size: 10px;
}
span {
    font-size: 20px;
}

span {
    background-color: white;
}
span {
    padding: 10px;
}
p2 {
    color: white;
    font-size: 40px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
ul {
    font-size: 20px;
    color: white;
}
h3 {
    color: white;

}